:root{
    --grid-cols: 1;
    --grid-rows: 1;
    
}

body{
    background: rgb(150, 200, 300);
}

#title{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: rgb(100, 76, 220);
}

#parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button{
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    border-style: solid;
    cursor: pointer;
    color: purple;
}

.container{
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background: white;
    border: 1px solid black;
}

.cell{
    border: 1px solid black;
    text-align: center;
}

.colorChange{
  background-color: pink;
}
